.opaque {
  opacity: 1 !important;
}
.ET-logo {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/ETSVG.png');
  background-size: cover;
  height: 30px;
  width: 60px;
  margin-left: 10px;
  margin-top: 10px;
}
.grow-please {
  display: flex;
  flex-grow: 100;
  height: 500px;
}
.fake-popup-container {
    z-index: 1000000;
    top: 0px;
    position: fixed !important;
    display: flex;
    height: auto;
    width: 100%;
    background-color: transparent;
    justify-content: flex-end;
    padding-right: 20px;
}
* {
    font-family: "Inter", sans-serif;
  }
  .fade-in-up-class {
    animation-name: fadeInUp;
  }
  .teal-background-2 {
    background-color: rgb(40, 182, 230);
    padding: 10px;
    border-radius: 5px;
    animation-duration: 0.7s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }
  .white-overlay-2 {
    background-color: white;
    padding: 10px;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/hexagons.png');
    background-repeat: no-repeat;
  }
  .term-fake-page-title-2 {
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: bold;
    padding: 10px;
  }
  .teal-background {
    opacity: 0;
    width: 400px;
    height: 520px;
    background-color: rgb(40, 182, 230);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation-duration: 0.3s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }
  .pagination-group {
    margin-top: 5px;
    display: flex;
    justify-self: flex-end;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 50px;
    column-gap: 15px;
    
  }
  .white-overlay {
    background-color: white;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/hexagons.png');
    background-repeat: no-repeat;
    background-size: 400px 460px;
    border-radius: 10px;
    height: 530px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
  }
  .term-fake-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
  }
  .term-fake-page-title {
    opacity: 0;
    color: black;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: bold;
    padding: 10px;
    animation-duration: 0.3s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
  }
  
  .term-fake-page-description {
    opacity: 0;
    font-size: 14px;
    color: black;
    font-weight: 500;
    padding: 10px;
    padding-right: 50px;
    animation-duration: 0.3s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
  }
  .term-fake-page-sources {
    opacity: 0;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding: 5px;
    padding-left: 10px;
    text-decoration: underline;
    color: blue;
    font-weight: light;
    animation-duration: 0.3s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }
  .term-fake-page-abbreviations {
    opacity: 0;
    margin-top: 20px;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    animation-duration: 0.3s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
  }
  .term-fake-page-abbr-header {
    color: black;
    padding-left: 10px;
  }
  .term-page-abbr-flex {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
  }
  .term-page-abbr {
    text-align: center;
    color: white;
    min-width: 40px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: teal;
    border-radius: 7px;
    background: linear-gradient(
      274deg,
      rgba(67, 151, 180, 1) 0%,
      rgba(175, 203, 181, 1) 100%
    );
  }
  #prev-page-button,
  #next-page-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    font-size: 16px;
    color: white;
    padding: 5px;
    background-color: #9cd4e7;
    border-radius: 5px;
  }
  #page-input {
    color: black;
    font-size: 16px;
    background-color: white;
    width: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 5px;
    border-radius: 5px;
  }
  
  @keyframes fadeInUp {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fade-in-class {
    animation-name: fadeIn;
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }